dockerhub_base: ansible
awx_task_hostname: awx
awx_web_hostname: awxweb
postgres_data_dir: /var/lib/postgres
host_port: 80
host_port_ssl: 443
#ssl_certificate=
# Optional key file
#ssl_certificate_key=
docker_compose_dir: /var/lib/awxcompose
pg_username: awx
pg_password: awxpass
pg_database: awx
pg_port: 5432
admin_user: admin
admin_password: password
create_preload_data: True
secret_key: awxsecret
project_data_dir: /var/lib/awx/projects
