# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

dockerhub_base: ansible
awx_task_hostname: awx
awx_web_hostname: awxweb
postgres_data_dir: /var/lib/postgres
host_port: 80
host_port_ssl: 443
#ssl_certificate=
# Optional key file
#ssl_certificate_key=
docker_compose_dir: /var/lib/awxcompose
pg_username: awx
pg_password: awxpass
pg_database: awx
pg_port: 5432
admin_user: admin
admin_password: password
create_preload_data: True
secret_key: awxsecret
project_data_dir: /var/lib/awx/projects
