.DS_Store

# Test SSH keys
ssh-key
ssh-key.pub

.cache/
# Local .terraform directories
**/.terraform/*

# tf lock file
.terraform.lock.hcl

# .tfstate files
*.tfstate
*.tfstate.*

# PyChar
.idea/
venv/
