# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# This file lives here because AWX will not look
# for it in any directories except the project root.
[defaults]
error_on_undefined_vars = true
host_key_checking = false
roles_path = ./ansible/roles:./third_party/github.com/linux-system-roles
allow_world_readable_tmpfiles=true
callback_whitelist = ansible.posix.profile_tasks
any_errors_fatal = true

[ssh_connection]
# Add ServerAlive options to the default ssh arguments to prevent timeouts in long running tasks.
# See https://bugzilla.redhat.com/show_bug.cgi?id=1758024.
ssh_args = -C -o ControlMaster=auto -o ControlPersist=20m -o ServerAliveInterval=240 -o ServerAliveCountMax=8
