# Password for the Diagnostics Agent specific <dasid>adm user. Provided value may be encoded.
# DiagnosticsAgent.dasidAdmPassword =

# Windows domain in which the Diagnostics Agent users must be created. This is an optional property (Windows only).
# DiagnosticsAgent.domain =

# Windows only: Password for the Diagnostics Agent specific 'SAPService<DASID>' user.
# DiagnosticsAgent.sapServiceDASIDPassword =

# SAP INTERNAL USE ONLY
# NW_System.installSAPHostAgent =

# Specify whether you want to set FQDN for the system.
NW_getFQDN.setFQDN = false

# ABAP system is Unicode (true|false), only needed if it cannot be determined from the system.
NW_getUnicode.isUnicode = true

# Provide  'profile' directory of SAP Netweaver-based system.
NW_readProfileDir.profileDir = /sapmnt/{{ sap_nw_sid }}/profile

# Windows only: The drive to use
# NW_readProfileDir.sapdrive =

# The folder containing all archives that have been downloaded from http://support.sap.com/swdc and are supposed to be used in this procedure
archives.downloadBasket = {{ sap_nw_kernel_files }}

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain =

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword = {{ sap_nw_sapadm_password }}

# Windows only: The domain of all users of this SAP system. Leave empty for default.
# nwUsers.sapDomain =

# Windows only: The password of the 'SAPServiceSID' user
# nwUsers.sapServiceSIDPassword =

# UNIX only: The user ID of the 'sapadm' user, leave empty for default. The ID is ignored if the user already exists.
nwUsers.sapadmUID = {{ sap_nw_sapadm_uid }}

# UNIX only: The group id of the 'sapsys' group, leave empty for default. The ID is ignored if the group already exists.
nwUsers.sapsysGID = {{ sap_sapsys_gid }}

# UNIX only: The user id of the <sapsid>adm user, leave empty for default. The ID is ignored if the user already exists.
nwUsers.sidAdmUID = {{ sap_nw_sidadm_uid }}

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_nw_sidadm_password }}

# The  instance number of the ERS instance. Leave empty for default.
nw_instance_ers.ersInstanceNumber = {{ sap_nw_ers_instance_number }}
