# Password for the Diagnostics Agent specific <dasid>adm user. Provided value may be encoded.
# DiagnosticsAgent.dasidAdmPassword =

# Windows domain in which the Diagnostics Agent users must be created. This is an optional property (Windows only).
# DiagnosticsAgent.domain =

# Windows only: Password for the Diagnostics Agent specific 'SAPService<DASID>' user.
# DiagnosticsAgent.sapServiceDASIDPassword =

# System copy AS Java with product instance Process Integration and/or Development Infrastructure: Specify whether the target system should replace the source system. Possible values are  'true' or 'false'.
# NW_CreateDBandLoad.movePVCforUsagePiAndDi =

# Name of the database connect user for ABAP. Default value is 'sap<sapsid>'.
NW_DB6_DB.db6.abap.connect.user = sap{{ sap_nw_sid | lower }}

# Name of the database schema for ABAP. Default value is 'sap<sapsid>'.
NW_DB6_DB.db6.abap.schema = sap{{ sap_nw_sid | lower }}

# Name of the database connect user for Java. Default value is 'sap<sapsid>db'.
# NW_DB6_DB.db6.java.connect.user =

# Name of the database schema for Java. Default value is 'sap<sapsid>db'.
# NW_DB6_DB.db6.java.schema =

# Specify whether the all operating system users are to be removed from group 'sapinst' after the execution of Software Provisioning Manager has completed.
# NW_Delete_Sapinst_Users.removeUsers = false

# Master password
NW_GetMasterPassword.masterPwd = {{ sap_nw_master_password }}

# DEPRECATED, DO NOT USE!
# NW_SAPCrypto.SAPCryptoFile =

# SAP INTERNAL USE ONLY
# NW_System.installSAPHostAgent = true

# DEPRECATED, DO NOT USE!
# NW_Unpack.dbaToolsSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.igsExeSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.igsHelperSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapExeDbSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapExeSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapJvmSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.xs2Sar =

# SAP INTERNAL USE ONLY
# NW_adaptProfile.templateFiles =

# ABAP message server port for connecting to the message server, leave empty for default
# NW_checkMsgServer.abapMSPort =

# The database host
# NW_getDBInfoGeneric.dbhost =

# The database ID (DBSID)
NW_getDBInfoGeneric.dbsid = {{ sap_nw_sid }}

# Only use this parameter if recommended by SAP.
# NW_getDBInfoGeneric.strictDbSidCheck = true

# The FQDN of the system
# NW_getFQDN.FQDN =

# Specify whether you want to set FQDN for the system.
NW_getFQDN.setFQDN = false

# The load type chosen by the user. Valid values are: 'SAP', 'STD', 'OBR', 'HCP', 'MDA', 'HBR', 'SBR'
NW_getLoadType.loadType = DB6BR

# ABAP system is Unicode (true|false), only needed if it cannot be determined from the system.
NW_getUnicode.isUnicode = true

# Provide  'profile' directory of SAP Netweaver-based system.
NW_readProfileDir.profileDir = /sapmnt/{{ sap_nw_sid }}/profile

# Enter the path of the existing 'profile' directory.
# NW_readProfileDir.profilesAvailable = true

# Windows only: The drive to use
# NW_readProfileDir.sapdrive =

# The folder containing all archives that have been downloaded from http://support.sap.com/swdc and are supposed to be used in this procedure
archives.downloadBasket = {{ sap_nw_kernel_files }}

SAPINST.CD.PACKAGE.RDBMS = {{ sap_nw_rdbms_files }}

SAPINST.CD.PACKAGE.CLIENT = {{ sap_product_vars[sap_db2_product_and_version].db_client }}

SAPINST.CD.PACKAGE.EXPORT = {{ sap_product_vars[sap_nw_product_and_version].load_files }}

# Specify whether you are adding a new physical host to a partitioned database system.
# db6.Additional_DbServer =

# Choose whether you want to generate cluster configuration files.
# db6.ConfigureCluster = false

# Location of the database software
# db6.DB2SoftwarePath =

# Windows only: Drive for the database location
# db6.DBDataDriveWindows =

# Memory for the database
# db6.DatabaseMemory =

# Windows only: Drive for the 'db2dump' directory
# db6.Db2dumpDriveWindows =

# A comma-separated list of the database schemas to be deleted. These values only matter if you choose not to delete the whole database.
# db6.DropSchemaList =

# AIX and Linux only: Choose if you want to install IBM Db2 pureScale Feature
# db6.InstallPureScale = false

# AIX and Linux only: Choose if you want to install IBM Tivoli System Automation for Multiplatforms.
db6.InstallTSA = {{ sap_sapinst_install_tsamp | lower }}

# Windows only: Drive for the log directory
# db6.LogDirDriveWindows =

# Number of additional partitions
# db6.NumAdditionalPartitions =

# Allow unsigned database software packages.
# db6.allowUnsignedDatabaseSoftware =

# Choose your cluster type.
db6.cluster.ClusterType = HADR (High Availability Disaster Recovery)

# First High Availability Disaster Recovery (HADR) port
db6.cluster.HADRPort1 = {{ sap_db2_hadr_port1 }}

# Second  High Availability Disaster Recovery (HADR) port
db6.cluster.HADRPort2 = {{ sap_db2_hadr_port2 }}

# Choose synchronisation mode for  High Availability Disaster Recovery (HADR).
# db6.cluster.SyncMode =

# Windows only: If you are installing in a domain, you can set the domain type of the connect user to 'global' or 'local'.
# db6.domainTypeConnectUser =

# The group id of the 'sysadm' user
db6.gid_sysadm = {{ sap_db2_sysadm_gid }}

# The group id of 'sysctrl'
db6.gid_sysctrl = {{ sap_db2_sysctrl_gid }}

# The group id of 'sysmaint'
db6.gid_sysmaint = {{ sap_db2_sysmaint_gid }}

# The group id of 'sysmon'
db6.gid_sysmon = {{ sap_db2_sysmon_gid }}

# Use 'R3load' options for IBM Db2 Deep Compression.
# db6.minimizeDatabaseSizeCompression =

# Use 'R3load' options for Deferred Table Creation.
# db6.minimizeDatabaseSizeDeferredTable = true

# Do not install an MCOD system.
# db6.notuseMcod =

# Install an MCOD system.
# db6.useMcod =

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain =

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword = {{ sap_nw_sapadm_password }}

# The password of the 'db2<dbsid>' user
nwUsers.db6.db2sidPassword = {{ sap_db2_dbsid_password }}

# The user id of the 'db2<dbsid>' user
nwUsers.db6.db2sidUid = {{ sap_db2_dbsid_uid }}

# The password of the ABAP connection user
nwUsers.db6.sapsidPassword = {{ sap_nw_sapsid_password }}

# The user id of the ABAP connection user
nwUsers.db6.sapsidUid = {{ sap_nw_sapsid_uid }}

# The password of the Java connection user
# nwUsers.db6.sapsiddbPassword =

# The user id of the Java connection user
# nwUsers.db6.sapsiddbUid =

# Windows only: The domain of all users of this SAP system. Leave empty for default.
# nwUsers.sapDomain =

# Windows only: The password of the 'SAPServiceSID' user
# nwUsers.sapServiceSIDPassword =

# UNIX only: The user ID of the 'sapadm' user, leave empty for default. The ID is ignored if the user already exists.
nwUsers.sapadmUID = {{ sap_nw_sapadm_uid }}

# UNIX only: The group id of the 'sapsys' group, leave empty for default. The ID is ignored if the group already exists.
nwUsers.sapsysGID = {{ sap_sapsys_gid }}

# UNIX only: The user id of the <sapsid>adm user, leave empty for default. The ID is ignored if the user already exists.
nwUsers.sidAdmUID = {{ sap_nw_sidadm_uid }}

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_nw_sidadm_password }}

# possible values are
#         isSingle:  Database on filesystem exist.
#         isSHOH:    Database installation with SHared Oracle Home.
#         isASM:     Database on ASM.
#         isRAC:     Database on RAC.
#         isRacAsm:  Database on RAC and ASM.
# ora.whatInstallation = isSingle

# Database communication port
# storageBasedCopy.db6.CommunicationPortNumber = 5912

# Last port in range for database partition communication
# storageBasedCopy.db6.PortRangeEnd = 5917

# First port in range for database partition communication
# storageBasedCopy.db6.PortRangeStart = 5914
