# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# {{ ansible_managed }}

# Password for the Diagnostics Agent specific <dasid>adm user. Provided value may be encoded.
# DiagnosticsAgent.dasidAdmPassword =

# Windows domain in which the Diagnostics Agent users must be created. This is an optional property (Windows only).
# DiagnosticsAgent.domain =

# Windows only: Password for the Diagnostics Agent specific 'SAPService<DASID>' user.
# DiagnosticsAgent.sapServiceDASIDPassword =

# Specify whether the all operating system users are to be removed from group 'sapinst' after the execution of Software Provisioning Manager has completed.
# NW_Delete_Sapinst_Users.removeUsers = false

# The database system ID (DBSID)
# NW_Users_Create.dbsid =

# Specify whether you are preparing for an SAP sytem based on AS ABAP.
NW_Users_Create.hasABAP = true

# Specify whether you are preparing for an SAP sytem based on AS Java.
# NW_Users_Create.hasJava = false

# Create OS user accounts for the SAP Host Agent
# NW_Users_Create.hostAgentOnly = false

# Specify whether database users are to be installed.
# NW_Users_Create.installDBUsers = false

# SAP system ID
NW_Users_Create.sid = {{ sap_nw_sid }}

# Create OS user accounts 'ora<dbsid>' or 'oracle'.
# NW_Users_Create.whichOSUser = isAll

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain =

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword = {{ sap_nw_password }}

# Which database. Must be one of ada,db2,db4,db6,hdb,inf,mss,ora,syb. Needed, if NW_Users_Create.installDBUsers is set to true.
# nwUsers.dbtype =

# Windows only: The domain of all users of this SAP system. Leave empty for default.
# nwUsers.sapDomain =

# Windows only: The password of the 'SAPServiceSID' user
# nwUsers.sapServiceSIDPassword =

# UNIX only: The user ID of the 'sapadm' user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sapadmUID =

# UNIX only: The group id of the 'sapsys' group, leave empty for default. The ID is ignored if the group already exists.
# nwUsers.sapsysGID =

# UNIX only: The user id of the <sapsid>adm user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sidAdmUID =

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_nw_password }}

# ABAP schema
# storageBasedCopy.ora.ABAPSchema = SAPSR3

# Oracle clientVersion
# storageBasedCopy.ora.clientVersion = 121

# Oracle server version
# storageBasedCopy.ora.serverVersion = 121
