# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# {{ ansible_managed }}

# Start of User Input parameters

# The SAP system ID <SAPSID> of the system to be installed
NW_GetSidNoProfiles.sid = {{ sap_nw_sid }}

# NW_SAPCrypto.SAPCryptoFile =

# NW_Unpack.sapExeSar =

# NW_System.installSAPHostAgent = false

# The instance number of the (A)SCS instance.
NW_SCS_Instance.instanceNumber = {{ sap_nw_ascs_instance_number }}

# The FQDN of the system
# NW_getFQDN.FQDN =

# Master password
NW_GetMasterPassword.masterPwd = {{ sap_nw_password }}

# Password for the 'sapadm' user of the SAP Host Agent
hostAgent.sapAdmPassword = {{ sap_nw_password }}

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_nw_password }}

# The folder containing all archives
archives.downloadBasket = {{ sap_nw_kernel_files }}

SAPINST.CD.PACKAGE.KERNEL = {{ sap_nw_kernel_files }}


# End of user Input Parameters
####################################

# Specify whether the all operating system users are to be removed from group 'sapinst' after the execution of Software Provisioning Manager has completed.
NW_Delete_Sapinst_Users.removeUsers = false

# Unix only: The SAP mount directory path. Default value is '/sapmnt'.
NW_GetSidNoProfiles.sapmnt = /sapmnt

# Only use this parameter if recommended by SAP - check for reserved SIDs
NW_GetSidNoProfiles.strictSidCheck = false

# Specify whether this system is to be a Unicode system.
NW_GetSidNoProfiles.unicode = true

# Specify whether you want to set FQDN for the system.
NW_getFQDN.setFQDN = false

# Add gateway process in the ASCS instance
NW_SCS_Instance.ascsInstallGateway = {{ sap_nw_ascs_install_gateway | default('false') | lower }}

# Add Web Dispatcher process in the ASCS instance
NW_SCS_Instance.ascsInstallWebDispatcher = {{ sap_nw_ascs_install_web_dispatcher | default('false') | lower }}

# There are three types of encryption modes: 'Always' (default), 'depending on the incoming protocol', 'Never'
NW_webdispatcher_Instance.encryptionMode = {{ sap_nw_wd_encryption_mode | default('Always') }}

# Operating systems have restrictions for maximum number of open 'file handles' (sockets) for each process. Default is 2048. Provide a much higher value for  scenarios with heavy workload.
NW_webdispatcher_Instance.scenarioSize = {{ sap_nw_wd_scenario_size | default('2048') }}

# Set this parameter to 'true' if the SAP Web Dispatcher HTTP Port is to be used.
NW_webdispatcher_Instance.useWdHTTPPort = {{ sap_nw_wd_use_http | default('true') | lower }}

# HTTP Port of SAP Web Dispatcher. You can only specify this parameter if 'NW_webdispatcher_Instance.useWdHTTPPort' is set to 'true'.
NW_webdispatcher_Instance.wdHTTPPort = {{ sap_nw_wd_http_port | default('8000') }}

# HTTPS Port of SAP Web Dispatcher.
NW_webdispatcher_Instance.wdHTTPSPort = {{ sap_nw_wd_https_port | default('44300') }}
