HDB_Schema_Check_Dialogs.validateSchemaName = false
MessageServer.configureAclInfo = false
NW_CI_Instance.ascsInstallGateway = true
NW_CI_Instance.ascsInstallWebDispatcher = true
NW_CI_Instance.ascsInstanceNumber = 01
NW_CI_Instance.ascsVirtualHostname = sap-nw
NW_CI_Instance.ciInstanceNumber = 00
NW_CI_Instance.ciVirtualHostname = sap-nw
NW_CI_Instance.scsVirtualHostname = sap-nw
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = Google123
NW_GetSidNoProfiles.sapmnt = /sapmnt
NW_GetSidNoProfiles.sid = SL1
NW_HDB_DB.abapSchemaName = SAPABAP1
NW_HDB_DB.abapSchemaPassword = Google123
NW_HDB_DBClient.clientPathStrategy = LOCAL
NW_HDB_getDBInfo.dbhost = saphanasles-bg-delete
NW_HDB_getDBInfo.dbsid = SL1
NW_HDB_getDBInfo.instanceNumber = 00
NW_HDB_getDBInfo.systemDbPassword = Google123
NW_HDB_getDBInfo.systemPassword = Google123
NW_liveCache.useLiveCache = false
NW_SAPCrypto.SAPCryptoFile = /sapmnt/Software/S4HANA_installation/SAPEXE_200-80002573.SAR
NW_Unpack.igsExeSar = /sapmnt/Software/S4HANA_installation/igsexe_4-80003187.sar
NW_Unpack.igsHelperSar = /sapmnt/Software/S4HANA_installation/igshelper_17-10010245.sar
NW_Unpack.sapExeDbSar = /sapmnt/Software/S4HANA_installation/SAPEXEDB_200-80002572.SAR
NW_Unpack.sapExeSar = /sapmnt/Software/S4HANA_installation/SAPEXE_200-80002573.SAR
NW_getFQDN.FQDN = c.albatross-duncanl-sandbox-2.internal
NW_getLoadType.loadType = SAP
NW_webdispatcher_Instance.scenarioSize = 500
NW_webdispatcher_Instance.wdHTTPPort = 8000
NW_webdispatcher_Instance.wdHTTPSPort = 44300
archives.downloadBasket = /sapmnt/Software/Kernel_Files
nwUsers.sidadmPassword = Google123
storageBasedCopy.hdb.instanceNumber = 00
storageBasedCopy.hdb.systemPassword = Google123
SAPINST.CD.PACKAGE.LOAD = /sapmnt/Software/S4HANA_Export
SAPINST.CD.PACKAGE.CLIENT = /sapmnt/Software/HANA_CLIENT
