# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# {{ ansible_managed }}

# Specify whether Software Provisioning Manager is to drop the schema if it exists.
# HDB_Schema_Check_Dialogs.dropSchema = false

# The name of the database schema.
# HDB_Schema_Check_Dialogs.schemaName =

# The password of the database schema.
HDB_Schema_Check_Dialogs.schemaPassword = {{ sap_nw_password }}

# NW_HDB_DB.abapschemaName =

NW_HDB_DB.abapschemaPassword = {{ sap_nw_password }}

NW_HDB_getDBInfo.dbhost = {{ sap_hana_virtual_host }}

NW_HDB_getDBInfo.dbsid = {{ sap_hana_sid }}

NW_HDB_getDBInfo.instanceNumber = {{ sap_hana_instance_number }}

SAPINST.CD.PACKAGE.KERNEL = {{ sap_nw_kernel_files }}

SAPINST.CD.PACKAGE.LOAD = {{ sap_product_vars[sap_product_and_version].load_files }}

SAPINST.CD.PACKAGE.RDBMS = {{ sap_nw_rdbms_files }}

# Specify whether Software Provisioning Manager is to validate the schema name. The schema name must only contain numbers and capital letters. It  must not start with '_' . It cannot be 'SYS' or 'SYSTEM'.
# HDB_Schema_Check_Dialogs.validateSchemaName = true

# Database hostnames that will be set directly in hdbuserstore without resolving them in HANA. Comma separated. Example (host1,host2)
# HDB_Userstore.doNotResolveHostnames =

# Alternative port for SystemDB to be used in hdbuserstore
# HDB_Userstore.systemDBPort =

# If set to 'true', an 'ms_acl_info' file is created. It manages the hosts from which the Message Server accepts connections.
# MessageServer.configureAclInfo = false

# Location of the input file for the 'ABAP SecureStore' key. The input file must have two lines: 'key = <key>', 'key-id = <key ID>'. You can generate a key using 'rsecssfx'. Leave empty if you want to use the default key.
# NW_ABAP_SSFS_CustomKey.ssfsKeyInputFile =

# Standard system only: Add gateway process to (A)SCS instance
NW_CI_Instance.ascsInstallGateway = {{ sap_nw_ascs_install_gateway | lower }}

# Standard system only: Add web dispatcher process to (A)SCS instance
NW_CI_Instance.ascsInstallWebDispatcher = {{ sap_nw_ascs_install_web_dispatcher | lower }}

# There are three types of encryption modes: 'Always' (default), 'depending on the incoming protocol', 'Never'
NW_webdispatcher_Instance.encryptionMode = {{ sap_nw_wd_encryption_mode | default('Always') }}

# Operating systems have restrictions for maximum number of open 'file handles' (sockets) for each process. Default is 2048. Provide a much higher value for  scenarios with heavy workload.
NW_webdispatcher_Instance.scenarioSize = {{ sap_nw_wd_scenario_size | default('2048') }}

# Set this parameter to 'true' if the SAP Web Dispatcher HTTP Port is to be used.
NW_webdispatcher_Instance.useWdHTTPPort = {{ sap_nw_wd_use_http | default('true') | lower }}

# HTTP Port of SAP Web Dispatcher. You can only specify this parameter if 'NW_webdispatcher_Instance.useWdHTTPPort' is set to 'true'.
NW_webdispatcher_Instance.wdHTTPPort = {{ sap_nw_wd_http_port | default('8000') }}

# HTTPS Port of SAP Web Dispatcher.
NW_webdispatcher_Instance.wdHTTPSPort = {{ sap_nw_wd_https_port | default('44300') }}

# Standard system with AS ABAP only: ASCS instance number. Leave empty for default.
NW_CI_Instance.ascsInstanceNumber = {{ sap_nw_ascs_instance_number }}

# Standard system with AS ABAP only: Virtual host name for the ASCS instance. Leave empty for default.
NW_CI_Instance.ascsVirtualHostname = {{ sap_nw_ascs_virtual_host }}

# Instance number of the primary application server instance. Leave empty for default.
NW_CI_Instance.ciInstanceNumber = {{ sap_nw_pas_instance_number }}

# The instance number of the application server. Leave empty for default.
NW_AS.instanceNumber = {{ sap_nw_pas_instance_number }}

# The ABAP message server port. Leave empty for default.
# NW_CI_Instance.ciMSPort =

# The internal ABAP message server port. Leave empty for default.
# NW_CI_Instance.ciMSPortInternal =

# Virtual host name of the primary application server instance . Leave empty for default.
NW_CI_Instance.ciVirtualHostname = {{ sap_nw_pas_virtual_host }}

# Create file 'prxyinfo(.DAT)' in the global directory, if it does not already exist and set 'gw/prxy_info' in the default profile accordingly.  Default is 'false'.
# NW_CI_Instance.createGlobalProxyInfoFile = false

# Create file 'reginfo(.DAT)' in the global directory. Default is 'false'.
# NW_CI_Instance.createGlobalRegInfoFile = false

# Standard system with AS Java only: The SCS instance number. Leave empty for default.
# NW_CI_Instance.scsInstanceNumber =

# The internal Java message server port. Leave empty for default.
# NW_CI_Instance.scsMSPortInternal =

# Standard system with AS Java only: Virtual host name for the SCS instance. Leave empty for default.
NW_CI_Instance.scsVirtualHostname = {{ sap_nw_ascs_virtual_host }}

# Activate ICF node '/SAP/BC/REST/SLPROTOCOL'
# NW_CI_Instance_ABAP_Reports.enableActivateICFService = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableSPAMUpdateWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTMSConfigWithoutStackXml = false

# SAP INTERNAL USE ONLY
# NW_CI_Instance_ABAP_Reports.enableTransportsWithoutStackXml = false

# Distributed installation or system copy with any database and SAP Basis release 740 or higher: Execute ABAP program 'RUTPOADAPT' for depooling. Set it to 'true' if declustering / depooling is selected for the distributed database instance installation option.
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = true

# Password of the DDIC user in client 000
# NW_DDIC_Password.ddic000Password =

# Password of the DDIC user in client 001
# NW_DDIC_Password.ddic001Password =

# Specify whether the all operating system users are to be removed from group 'sapinst' after the execution of Software Provisioning Manager has completed.
# NW_Delete_Sapinst_Users.removeUsers = false

# Master password
NW_GetMasterPassword.masterPwd = {{ sap_nw_password }}

# Install the SAP HANA database client in a central or local directory. Possible values are: 'SAPCPE', 'LOCAL'
# NW_HDB_DBClient.clientPathStrategy = LOCAL

# Password of user 'SYSTEM' within the 'SystemDB' tenant in an SAP HANA MultiDB server
NW_HDB_getDBInfo.systemDbPassword = {{ sap_hana_db_system_password }}

# Location for HANA backup files on the HANA database host (Target location for ABAP export archives). Default value: /usr/sap/<SID>/HDB<nn>/backup/data/<Database_name>
NW_Recovery_Install_HDB.extractLocation = /usr/sap/{{ sap_hana_sid }}/HDB{{ sap_hana_instance_number }}/backup/data/DB_{{ sap_hana_sid }}

# Number of concurrent jobs used to load and/or extract archives to HANA Host
NW_Recovery_Install_HDB.extractParallelJobs = 19

# Archives or backup files are to be loaded by SWPM or are already available(mounted) on the HANA host. Possible values are: load (default) or mount.
# NW_Recovery_Install_HDB.loadOrMount = load

# The OS user of the HANA '<dbsid>adm' user
NW_Recovery_Install_HDB.sidAdmName = {{ sap_hana_user }}

# The password of the OS HANA '<dbsid>adm' user
NW_Recovery_Install_HDB.sidAdmPassword = {{ sap_hana_sidadm_password }}

# DEPRECATED, DO NOT USE!
# NW_SAPCrypto.SAPCryptoFile =

# Enable the instance agent (sapstartsrv) data supplier to send operating system information to the System Landscape Directory (SLD). Default is 'false'.
# NW_SLD_Configuration.configureSld = false

# Host of the System Landscape Directory (SLD)
# NW_SLD_Configuration.sldHost =

# Port used to connect to the System Landscape Directory (SLD)
# NW_SLD_Configuration.sldPort =

# Use HTTPS. Default is 'false'.
# NW_SLD_Configuration.sldUseHttps = false

# The user that is to authenticate towards the System Landscape Directory (SLD)
# NW_SLD_Configuration.sldUser =

# User password to authenticate towards the System Landscape Directory (SLD). Note: The connection is not checked by Software Provisioning Manager.
# NW_SLD_Configuration.sldUserPassword =

# SAP INTERNAL USE ONLY
NW_System.installSAPHostAgent = false

# DEPRECATED, DO NOT USE!
# NW_Unpack.dbaToolsSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.igsExeSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.igsHelperSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapExeDbSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapExeSar =

# DEPRECATED, DO NOT USE!
# NW_Unpack.sapJvmSar =

# SAP INTERNAL USE ONLY
# NW_adaptProfile.templateFiles =

# ABAP message server port for connecting to the message server, leave empty for default
# NW_checkMsgServer.abapMSPort =

# The FQDN of the system
# NW_getFQDN.FQDN =

# Specify whether you want to set FQDN for the system.
NW_getFQDN.setFQDN = false

# The load type chosen by the user. Valid values are: 'SAP', 'STD', 'OBR', 'HCP', 'MDA', 'HBR', 'SBR'
NW_getLoadType.loadType = SAP

# ABAP system is Unicode (true|false), only needed if it cannot be determined from the system.
# NW_getUnicode.isUnicode =

NW_GetSidNoProfiles.sapmnt = /sapmnt

NW_GetSidNoProfiles.sid = {{ sap_nw_sid }}

NW_HDB_getDBInfo.systemPassword = {{ sap_hana_db_system_password }}

# Password of the database manager operator user 'control' for liveCache
# NW_liveCache.controlUserPwd =

# Host name for liveCache
# NW_liveCache.liveCacheHost =

# Database ID for liveCache
# NW_liveCache.liveCacheID =

# Database schema for liveCache
# NW_liveCache.liveCacheUser =

# Password of database schema for liveCache
# NW_liveCache.liveCacheUserPwd =

# Specify whether you want to use liveCache. Default value is 'true'.
NW_liveCache.useLiveCache = false

# Provide  'profile' directory of SAP Netweaver-based system.
NW_readProfileDir.profileDir = /sapmnt/{{ sap_nw_sid }}/profile

# Windows only: The drive to use
# NW_readProfileDir.sapdrive =

# The folder containing all archives that have been downloaded from http://support.sap.com/swdc and are supposed to be used in this procedure
archives.downloadBasket = {{ sap_nw_kernel_files }}

# DBACOCKPIT user is to be created. Default value is 'true'.
# hdb.create.dbacockpit.user = true

# Windows only: The domain of the SAP Host Agent user
# hostAgent.domain =

# Password for the 'sapadm' user of the SAP Host Agent
# hostAgent.sapAdmPassword =

# Windows only: The domain of all users of this SAP system. Leave empty for default.
# nwUsers.sapDomain =

# Windows only: The password of the 'SAPServiceSID' user
# nwUsers.sapServiceSIDPassword =

# UNIX only: The user ID of the 'sapadm' user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sapadmUID =

# UNIX only: The group id of the 'sapsys' group, leave empty for default. The ID is ignored if the group already exists.
# nwUsers.sapsysGID =

# UNIX only: The user id of the <sapsid>adm user, leave empty for default. The ID is ignored if the user already exists.
# nwUsers.sidAdmUID =

# The password of the '<sapsid>adm' user
nwUsers.sidadmPassword = {{ sap_nw_password }}

# ABAP schema password
# storageBasedCopy.abapSchemaPassword =

# Instance number of the SAP HANA Database server
storageBasedCopy.hdb.instanceNumber = {{ sap_hana_instance_number }}

# Password of user 'SYSTEM' inside the SAP HANA Database Server
storageBasedCopy.hdb.systemPassword = {{ sap_hana_db_system_password }}
