HDB_Schema_Check_Dialogs.validateSchemaName = false
MessageServer.configureAclInfo = false
NW_CI_Instance_ABAP_Reports.executeReportsForDepooling = false
NW_CI_Instance.ascsInstallGateway = true
NW_CI_Instance.ascsInstallWebDispatcher = true
NW_CI_Instance.ascsInstanceNumber = {{ sap_s4hana_deployment_ascs_instance_nr }}
NW_CI_Instance.ascsVirtualHostname = {{ sap_s4hana_deployment_ascs_instance_hostname }}
NW_CI_Instance.ciInstanceNumber = {{ sap_s4hana_deployment_pas_instance_nr }}
NW_CI_Instance.ciVirtualHostname = {{ sap_s4hana_deployment_pas_instance_hostname }}
NW_CI_Instance.scsVirtualHostname = {{ sap_s4hana_deployment_pas_instance_hostname }}
NW_Delete_Sapinst_Users.removeUsers = true
NW_GetMasterPassword.masterPwd = Google123
NW_GetSidNoProfiles.sapmnt = /sapmnt
NW_GetSidNoProfiles.sid = {{ sap_nw_sid }}
NW_HDB_DB.abapSchemaName = SAPABAP1
NW_HDB_DB.abapSchemaPassword = Google123
NW_HDB_DBClient.clientPathStrategy = LOCAL
NW_HDB_getDBInfo.dbhost = {{ sap_hana_hostname }}
NW_HDB_getDBInfo.dbsid = {{ sap_hana_sid }}
NW_HDB_getDBInfo.instanceNumber = {{ sap_hana_instance_number }}
NW_HDB_getDBInfo.systemDbPassword = Google123
NW_HDB_getDBInfo.systemPassword = Google123
NW_liveCache.useLiveCache = false
NW_SAPCrypto.SAPCryptoFile = {{ sap_s4hana_sapinst_package_kernel }}/{{ sap_s4hana_nw_sapcryptofile }}
NW_Unpack.igsExeSar = {{ sap_s4hana_sapinst_package_kernel }}/{{ sap_s4hana_deployment_igs_file_name }}
NW_Unpack.igsHelperSar = {{ sap_s4hana_sapinst_package_kernel }}/{{ sap_s4hana_deployment_igs_helper_file_name }}
NW_Unpack.sapExeDbSar = {{ sap_s4hana_sapinst_package_kernel }}/{{ sap_s4hana_deployment_sapexedbsar }}
NW_Unpack.sapExeSar = {{ sap_s4hana_sapinst_package_kernel }}//{{ sap_s4hana_deployment_sapexesar }}
NW_getFQDN.FQDN = c.albatross-duncanl-sandbox-2.internal
NW_getLoadType.loadType = SAP
NW_webdispatcher_Instance.scenarioSize = 500
NW_webdispatcher_Instance.wdHTTPPort = 8000
NW_webdispatcher_Instance.wdHTTPSPort = 44300
archives.downloadBasket = {{ sap_s4hana_archives_downloadbasket }}
nwUsers.sidadmPassword = Google123
storageBasedCopy.hdb.instanceNumber = 00
storageBasedCopy.hdb.systemPassword = Google123
SAPINST.CD.PACKAGE.LOAD = {{ sap_s4hana_sapinst_package_load }}
SAPINST.CD.PACKAGE.CLIENT = {{ sap_s4hana_sapinst_package_client }}
