# Copyright 2021 Google LLC
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     https://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

hosts_file_entries:
- ip: '{{ sap_hana_vip }}'
  names: ['{{ sap_hana_virtual_host }}']
- ip: '{{ sap_nw_ascs_vip }}'
  names: ['{{ sap_nw_ascs_virtual_host }}']
- ip: '{{ sap_nw_ers_vip }}'
  names: ['{{ sap_nw_ers_virtual_host }}']

sap_is_aas: false
sap_is_ascs: false
sap_is_ers: false
sap_is_pas: false
sap_is_scs: false

sap_nw_ascs_instance_name: '{{
  hostvars.values()
  | selectattr("sap_is_ascs", "defined")
  | selectattr("sap_is_ascs")
  | map(attribute="ansible_hostname")
  | list
  | first
}}'
sap_nw_ascs_private_ip: '{{
  hostvars.values()
  | selectattr("sap_is_ascs", "defined")
  | selectattr("sap_is_ascs")
  | map(attribute="ansible_default_ipv4.address")
  | list
  | first
}}'
sap_nw_ers_instance_name: '{{
  hostvars.values()
  | selectattr("sap_is_ers", "defined")
  | selectattr("sap_is_ers")
  | map(attribute="ansible_hostname")
  | list
  | first
}}'
sap_nw_pas_instance_name: '{{
  hostvars.values()
  | selectattr("sap_is_pas", "defined")
  | selectattr("sap_is_pas")
  | map(attribute="ansible_hostname")
  | list
  | first
}}'
sap_nw_pas_virtual_host: '{{ sap_nw_pas_instance_name }}'

sap_domain: '{{ ansible_domain }}'

sap_hana_password: ''
sap_hana_db_system_password: '{{ sap_hana_password }}'
sap_hana_sidadm_password: '{{ sap_hana_password }}'
sap_hana_user: '{{ sap_hana_sid | lower }}adm'

sap_nw_ascs_instance_number: '06'
sap_nw_ers_instance_number: '16'
sap_nw_pas_instance_number: '06'
sap_nw_ascs_virtual_host: '{{ sap_nw_ascs_instance_name }}'
sap_nw_ers_virtual_host: '{{ sap_nw_ers_instance_name }}'
sap_nw_install_files_dest: /sapmnt/Software
sap_nw_kernel_files: /sapmnt/Software/Kernel_Files
sap_nw_rdbms_files: /sapmnt/Software/HANA_CLIENT
sap_nw_password: ''
sap_nw_java_admin_password: '{{ sap_nw_password }}'
sap_nw_java_schema_password: '{{ sap_nw_password }}'
sap_nw_master_password: '{{ sap_nw_password }}'
sap_nw_sapadm_password: '{{ sap_nw_password }}'
sap_nw_schema_password: '{{ sap_nw_password }}'
sap_nw_sidadm_password: '{{ sap_nw_password }}'
sap_nw_user: '{{ sap_nw_sid | lower }}adm'
sap_nw_cluster_user_password: '{{ sap_nw_password }}'
sap_nw_sapsys_gid: 2001
sap_nw_sidadm_uid: 2000
sap_nw_sapadm_uid: 2001

sap_scs_name: '{{ sap_product_vars[sap_nw_product_and_version].scs_name | default("ASCS") }}'

sap_nw_ascs_install_gateway: false
sap_nw_ascs_install_web_dispatcher: false

sap_nw_disks:
- name: usrsap
  partition_path : usrsap
- name: swap
  partition_path : swap
sap_nw_logvols:
  usrsap:
    size: 100%VG
    vol: usrsap
    mountpoint: /usr/sap
sap_nw_swapvols:
  swap:
    size: 100%VG
    vol: swap
sap_nw_disks_aas: '{{ sap_nw_disks }}'
sap_nw_logvols_aas: '{{ sap_nw_logvols }}'
sap_nw_swapvols_aas: '{{ sap_nw_swapvols }}'
sap_nw_disks_ascs: '{{ sap_nw_disks }}'
sap_nw_logvols_ascs: '{{ sap_nw_logvols }}'
sap_nw_swapvols_ascs: '{{ sap_nw_swapvols }}'
sap_nw_disks_ers: '{{ sap_nw_disks }}'
sap_nw_logvols_ers: '{{ sap_nw_logvols }}'
sap_nw_swapvols_ers: '{{ sap_nw_swapvols }}'
sap_nw_disks_pas: '{{ sap_nw_disks }}'
sap_nw_logvols_pas: '{{ sap_nw_logvols }}'
sap_nw_swapvols_pas: '{{ sap_nw_swapvols }}'

# If sap_nw_nfs_src is nonempty, sap_nw_nfsvols_* defaults to using it as the source.
# Otherwise, sap_nw_nfsvols_* must be defined in vars. This is for use with e.g. Cloud FileStore,
# which can use the same NFS volume for multiple mounts.
# sap_nw_nfs_src: 10.0.10.100:/sap
sap_nw_nfs_src: ''

# If true, source directories will be created on sap_nw_nfs_src.
sap_nw_create_nfs_source_dirs: '{{ sap_nw_nfs_src | length != 0 }}'

# Default values to fill in sap_nw_nfsvols when sap_nw_nfs_src is defined.
sap_nw_sapmnt_nfs_mount_src: '{{ sap_nw_nfs_src }}/sapmnt'
sap_nw_saptrans_nfs_mount_src: '{{ sap_nw_nfs_src }}/saptrans'
sap_nw_ascs_nfs_mount_src: '{{ sap_nw_nfs_src }}/{{ sap_scs_name }}{{ sap_nw_ascs_instance_number }}'
sap_nw_ascs_nfs_mount_dest: '/usr/sap/{{ sap_nw_sid }}/{{ sap_scs_name }}{{ sap_nw_ascs_instance_number }}'
sap_nw_ers_nfs_mount_src: '{{ sap_nw_nfs_src }}/ERS{{ sap_nw_ers_instance_number }}'
sap_nw_ers_nfs_mount_dest: '/usr/sap/{{ sap_nw_sid }}/ERS{{ sap_nw_ers_instance_number }}'
sap_nw_nfsvols_aas:
- source: '{{ sap_nw_sapmnt_nfs_mount_src }}'
  mountpoint: /sapmnt
- source: '{{ sap_nw_saptrans_nfs_mount_src }}'
  mountpoint: /usr/sap/trans
sap_nw_nfsvols_pas:
- source: '{{ sap_nw_sapmnt_nfs_mount_src }}'
  mountpoint: /sapmnt
- source: '{{ sap_nw_saptrans_nfs_mount_src }}'
  mountpoint: /usr/sap/trans
sap_nw_nfsvols_scs:
- source: '{{ sap_nw_sapmnt_nfs_mount_src }}'
  mountpoint: /sapmnt
- source: '{{ sap_nw_saptrans_nfs_mount_src }}'
  mountpoint: /usr/sap/trans
- source: '{{ sap_nw_ascs_nfs_mount_src }}'
  mountpoint: '{{ sap_nw_ascs_nfs_mount_dest }}'
  owner: '{{ sap_nw_sidadm_uid }}'
  group: '{{ sap_nw_sapsys_gid }}'
- source: '{{ sap_nw_ers_nfs_mount_src }}'
  mountpoint: '{{ sap_nw_ers_nfs_mount_dest }}'
  owner: '{{ sap_nw_sidadm_uid }}'
  group: '{{ sap_nw_sapsys_gid }}'

sap_nw_product: 'NetWeaver'
sap_nw_product_version: '750'
sap_nw_product_and_version: '{{ sap_nw_product }}/{{ sap_nw_product_version }}'
# sap_nw_product and sap_nw_product_version must be set to one of the <product>/<version> combos in sap_product_vars.
sap_product_vars:
  'BW4HANA/20':
    db_product_id: 'NW_ABAP_DB:BW4HANA20.CORE.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:BW4HANA20.CORE.HDB.ABAPHA'
    aas_product_id: 'NW_DI:BW4HANA20.CORE.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:BW4HANA20.CORE.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:BW4HANA20.CORE.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.HDB.PD'
    swpm_path: /sapmnt/Software/SWPM2.0
    load_files: /sapmnt/Software/Kernel_Files
    install_files: [Kernel_Files, SWPM2.0]
    ensa_version: '2'
  'NetWeaver/750':
    db_product_id: 'NW_ABAP_DB:NW750.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:NW750.HDB.ABAPHA'
    aas_product_id: 'NW_DI:NW750.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:NW750.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:NW750.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.SYB.PD'
    swpm_path: /sapmnt/Software/SWPM1.0
    load_files: /sapmnt/Software/NW75
    install_files: [HANA_CLIENT, Kernel_Files, NW75, SWPM1.0]
    ensa_version: '1'
  'NetWeaver/751':
    db_product_id: 'NW_ABAP_DB:NW751.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:NW751.HDB.ABAPHA'
    aas_product_id: 'NW_DI:NW751.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:NW751.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:NW751.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.SYB.PD'
    swpm_path: /sapmnt/Software/SWPM1.0
    load_files: /sapmnt/Software/NW75
    install_files: [HANA_CLIENT, Kernel_Files, NW75, SWPM1.0]
    ensa_version: '1'
  'NetWeaver/752':
    db_product_id: 'NW_ABAP_DB:NW752.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:NW752.HDB.ABAPHA'
    aas_product_id: 'NW_DI:NW752.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:NW752.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:NW752.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.SYB.PD'
    swpm_path: /sapmnt/Software/SWPM1.0
    load_files: /sapmnt/Software/NW75
    install_files: [HANA_CLIENT, Kernel_Files, NW75, SWPM1.0]
    ensa_version: '1'
  'NetWeaver-Java/750':
    db_product_id: 'NW_Java_DB:NW750.HDB.HA'
    pas_product_id: 'NW_Java_CI:NW750.HDB.HA'
    aas_product_id: 'NW_DI:NW750.HDB.HA'
    ascs_product_id: 'NW_Java_SCS:NW750.HDB.HA'
    ers_product_id: 'NW_ERS:NW750.HDB.HA'
    user_product_id: 'NW_Users_Create:GENERIC.SYB.PD'
    swpm_path: /sapmnt/Software/SWPM10SP32
    load_files: /sapmnt/Software/NW75
    install_files: [HANA_CLIENT, Kernel_Files, NW75, SWPM10SP32]
    ensa_version: '1'
    scs_name: SCS
    db_sapinst_template: inifile_db_java_hdb.params
    as_sapinst_template: inifile_as_java_hdb.params
  'S4HANA/1709':
    db_product_id: 'NW_ABAP_DB:S4HANA1709.CORE.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:S4HANA1709.CORE.HDB.ABAPHA'
    aas_product_id: 'NW_DI:S4HANA1709.CORE.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:S4HANA1709.CORE.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:S4HANA1709.CORE.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.SYB.PD'
    swpm_path: /sapmnt/Software/SWPM1.0
    load_files: /sapmnt/Software/S4HANA_Export
    install_files: [HANA_CLIENT, Kernel_Files, S4HANA_Export, SWPM1.0]
    ensa_version: '1'
  'S4HANA/1809':
    db_product_id: 'NW_ABAP_DB:S4HANA1809.CORE.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:S4HANA1809.CORE.HDB.ABAPHA'
    aas_product_id: 'NW_DI:S4HANA1809.CORE.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:S4HANA1809.CORE.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:S4HANA1809.CORE.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.HDB.PD'
    swpm_path: /sapmnt/Software/SWPM2.0
    load_files: /sapmnt/Software/Kernel_Files
    install_files: [Kernel_Files, SWPM2.0]
    ensa_version: '2'
  'S4HANA/1909':
    db_product_id: 'NW_ABAP_DB:S4HANA1909.CORE.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:S4HANA1909.CORE.HDB.ABAPHA'
    aas_product_id: 'NW_DI:S4HANA1909.CORE.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:S4HANA1909.CORE.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:S4HANA1909.CORE.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.HDB.PD'
    swpm_path: /sapmnt/Software/SWPM2.0
    load_files: /sapmnt/Software/Kernel_Files
    install_files: [Kernel_Files, SWPM2.0]
    ensa_version: '2'
  'S4HANA/2020':
    db_product_id: 'NW_ABAP_DB:S4HANA2020.CORE.HDB.ABAPHA'
    pas_product_id: 'NW_ABAP_CI:S4HANA2020.CORE.HDB.ABAPHA'
    aas_product_id: 'NW_DI:S4HANA2020.CORE.HDB.ABAPHA'
    ascs_product_id: 'NW_ABAP_ASCS:S4HANA2020.CORE.HDB.ABAPHA'
    ers_product_id: 'NW_ERS:S4HANA2020.CORE.HDB.ABAPHA'
    user_product_id: 'NW_Users_Create:GENERIC.HDB.PD'
    swpm_path: /sapmnt/Software/SWPM2.0
    load_files: /sapmnt/Software/Kernel_Files
    install_files: [Kernel_Files, SWPM2.0]
    ensa_version: '2'
