[Server]
sid={{ sap_hana_sid }}
number={{ sap_hana_instance_number }}
sapadm_password={{ sap_hana_password }}
password={{ sap_hana_password }}
system_user_password={{ sap_hana_password }}
userid={{ sap_hana_system_uid }}
groupid={{ sap_sapsys_gid }}
autostart=n
storage_cfg={{ sap_hana_gce_storage_client_path }}
