call SYS.UPDATE_LANDSCAPE_CONFIGURATION('deploy', '{"HOSTS":{"{{ sap_hana_instance_name }}w01":{"WORKER_CONFIG_GROUPS":"default","FAILOVER_CONFIG_GROUP":"default","INDEXSERVER_CONFIG_ROLE":"WORKER","NAMESERVER_CONFIG_ROLE":"MASTER 2"},"{{ sap_hana_instance_name }}w0{{ sap_instance_count_worker|int + 1 }}":{"WORKER_CONFIG_GROUPS":"default","FAILOVER_CONFIG_GROUP":"default","INDEXSERVER_CONFIG_ROLE":"STANDBY","NAMESERVER_CONFIG_ROLE":"MASTER 3"}}}')