<?xml version="1.0" encoding="UTF-8"?> 
<Passwords> 
<password><![CDATA[{{ sap_hana_sidadm_password }}]]></password>
<sapadm_password><![CDATA[{{ sap_hana_sapadm_password }}]]></sapadm_password> 
<system_user_password><![CDATA[{{ sap_hana_db_system_password }}]]></system_user_password> 
<root_password><![CDATA[{{ sap_hana_root_password }}]]></root_password> 
</Passwords>