[default]
# any_errors_fatal = true
error_on_undefined_vars = true
stdout_callback = yaml

[ssh_connection]
# Enabling pipelining reduces the number of SSH operations required to
# execute a module on the remote server. This can result in a significant
# performance improvement when enabled.
pipelining = True
scp_if_ssh = False
